.contact-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(247, 248, 255, 0.52), rgba(91, 158, 109, 0.73)),
        url(../assets/images2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
}

.contact-info {
    color: #fff;
    max-width: 600px;
    line-height: 70px;
    padding-left: 50px;
    font-size: 18px;
    font-family: roboto Condensed;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-form h2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: roboto Condensed;
    font-weight: 500;
}

.contact-form .text-box {
    background: #fff;
    color: #000;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: #fff;
    color: #000;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background: #fff;
    color: #000;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #4070f4;
    color: #fff;
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 120px;
        top: 3rem;
    }

    .work__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__form {
        width: 360px;
    }

    .contact__container {
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        margin: 30px 50px;
    }

    .contact-form h2 {
        font-size: 30px;
    }

    .contact-form .text-box {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact-info {
        padding: 4rem 0;
        line-height: 3.75rem;
        font-size: 1.3rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}